@model MBshop.Models.ChatModel
@{
    ViewData["Title"] = "ChatPanel";
}


<html>
<head>
    <title></title>
</head>
<body onload="Start()">


    <h1>Chat panel</h1>
    <div class="wrapper">
        <input type="text" name="name" value="" id="input" />
    <button class="btn btn-lg btn-primary" onclick="PostMessages()">Click me</button>
    </div>

    <div id="Output"></div>






</body>
</html>