@*@model MBshop.Models.ChatModel*@
@{
    ViewData["Title"] = "ChatPanel";
}


<html>
<head>
    <title></title>
</head>
<body onload="Start()">
    <div class="con">
        <h1>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (ViewData.Model.firstName != null)
                    {
                        <sction>@ViewData.Model.firstName's</sction>
                    }
                }
            }
            Chat panel
            @if (User.Identity.IsAuthenticated)
            {
                if (ViewData.Model.firstName == null)
                {
                    <a class="btn btn-lg btn-warning" id="IdentityBtn" asp-area="Identity" asp-page="/Account/Manage/Index">Create chat nickname</a>
                }
            }
            else
            {
                <a class="btn btn-lg btn-warning" id="IdentityBtn" asp-area="Identity" asp-page="/Account/Manage/Index">Create chat nickname</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <form asp-controller="ChatBox" asp-action="Delete" style="float:right;" method="post">
                    <button class="btn btn-lg btn-warning" id="IdentityBtn">Delete</button>
                    @*<a class="btn btn-lg btn-warning" id="IdentityBtn" asp-controller="ChatBox" asp-action="Delete">Delete chat</a>*@
                </form>
            }
        </h1>
    </div>

    <div class="wrapper">
        <input type="text" name="name" value="" id="input" />
        <button class="btn btn-lg btn-primary rounded-pill" id="buttonPost" onclick="PostMessages()">Send Message</button>
    </div>

    <div id="Output"></div>






</body>
</html>