
@{
    ViewData["Title"] = "Contact";
}

<div class="wrappers fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h2>contact us</h2>
        </div>

        <!-- Login Form -->
        @* submil not configured *@
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name">

            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">

            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Subject">

            <input type="text" id="password" class="fadeIn third" style="height:300px;" name="login" placeholder="Content">

            <input type="submit" class="fadeIn fourth" value="Send">
        </form>

    </div>
</div>