
.dropdnText {
    text-align:center;
}

.ItemsPerPerson {
    margin-right: 10px;
}

#hovers:hover {
    color: skyblue !important;
}

.message-candidate {
    background: rgba(223, 229, 121, 0.9);
    padding: 40px;
    /*max-width: 600px;*/
    width: 85%;
    border-bottom: 4px solid;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px 50px 30px;

}

.message-hiring-manager {
    background: rgba(0, 167, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

#Output {
    overflow: auto;
    height: 650px;
    display: block;
    border: 2px;
    /*background-color:yellowgreen;*/
    background: url(https://previews.123rf.com/images/vska/vska1506/vska150600044/40865606-technology-abstract-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display:inline-block;
    width:100%;
    background-color:skyblue;
    height:80px;
    text-align:center;
}

#input {
    margin-top:15px;
    height:50px;
    width:400px;
}

#buttonPost {
    margin-bottom:10px;
}

.con {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
}

#IdentityBtn {
    margin-left:20px;
}