
.dropdnText {
    text-align:center;
}

.ItemsPerPerson {
    margin-right: 10px;
}

#hovers:hover {
    color: skyblue !important;
}

.message-candidate {
    /*background: rgba(223, 229, 121, 0.9);*/
    padding: 40px;
    /*max-width: 600px;*/
    width: 95%;
    /*border-bottom: 4px solid;*/
    margin-bottom: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.5);
}

.message-hiring-manager {
    background: rgba(0, 167, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

#Output {
    overflow: auto;
    height: 650px;
    display:block;
    background-color:yellowgreen;
}

.wrapper {
    display:inline-block;
    width:100%;
    background-color:skyblue;
    height:80px;
    text-align:center;
}

#input {
    margin-top:15px;
    height:50px;
    width:400px;
}