<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/c4d9906b-6eab-4108-abb6-b22f14e2087b/resourcegroups/MBshop/providers/Microsoft.ContainerRegistry/registries/registry20200417102425</ContainerResourceId>
    <ContainerResourceName>registry20200417102425</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200417102425.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c4d9906b-6eab-4108-abb6-b22f14e2087b/resourcegroups/MBshop/providers/Microsoft.Web/sites/MBshop20200417102422</ResourceId>
    <ResourceGroup>MBshop</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mbshop20200417102422.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8f3bb55f-8701-43bd-b689-30b05d4e788f</ProjectGuid>
  </PropertyGroup>
</Project>