@using MBshop
@using MBshop.Models
@using MBshop.Service.WebConstants
@using MBshop.Service.OutputModels
@using MBshop.Service.StaticProperyes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <a href="C:\Users\Pencho\Desktop\testoveteweba\SoftUni-Exam-Projext-master\SoftUni-Exam-Projext-master – Копие\MBshop\Views\_ViewImports.cshtml">C:\Users\Pencho\Desktop\testoveteweba\SoftUni-Exam-Projext-master\SoftUni-Exam-Projext-master – Копие\MBshop\Views\_ViewImports.cshtml</a>