
.dropdnText {
    text-align: center;
}

.ItemsPerPerson {
    /*margin-top:8px;*/
    padding-top: 8px;
    margin-right: 10px;
    /*text-decoration:none;*/
}

#hovers:hover {
    color: skyblue !important;
}

.message-candidate {
    background: rgba(223, 229, 121, 0.9);
    padding: 40px;
    /*max-width: 600px;*/
    width: 85%;
    border-bottom: 4px solid;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px 50px 30px;
}

.message-hiring-manager {
    background: rgba(0, 167, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

#Output {
    overflow: auto;
    height: 650px;
    display: block;
    border: 2px;
    /*background-color:yellowgreen;*/
    background: url(https://previews.123rf.com/images/vska/vska1506/vska150600044/40865606-technology-abstract-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: inline-block;
    width: 100%;
    background-color: skyblue;
    height: 80px;
    text-align: center;
}

#input {
    margin-top: 15px;
    height: 50px;
    width: 700px;
    /*margin-left:20px;
    float:left;*/
}

#buttonPost {
    margin-bottom: 10px;
    /*width:70px;*/
    margin-left:15px;
    margin-right:0px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;


}

.con {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
}

#IdentityBtn {
    margin-left: 20px;
}


#moviePic {
    background-size: cover;
    background: center;
}

#rateStars {
    background-image: url(https://st.depositphotos.com/1216158/4699/v/950/depositphotos_46997111-stock-illustration-yellow-stars-vector-illustration-single.jpg) !important;
    background-size: cover !important;
    height: 70px !important;
    width: 70px;
}

/*new buttons for details and rate*/
#add-to-cart-input {
    width: 150px;
    padding-left: 9px;
}

#back-link {
    width: 150px;
    padding-left: 20px;
}

#chek-out-input-button {
    width: 200px;
    padding-left: 40px;
}

/*end of new buttons*/

#logo-image {
    height: 28px;
}

#cart {
    width: 80px;
    height: 38px;
    /*padding-left:8px;*/
}

#cart-icon {
    height: 10px;
}
/*#drop-down-menu {
    width:180px;
}*/

/*status message in the right corner*/
.statusMessage {
    position: fixed;
    margin-top: 20px;
    width: 38%;
    text-align: center;
    /*display:none;*/
}


#hideMessage {
    display: flex;
    justify-content: flex-end;
}

/*corousal size window*/
#corousel-size {
    width: 1000px;
    height: 700px;
}

/*slider product pictures*/
#sliderPictures {
    width: 800px;
    height: 650px;
}

#carouselExampleIndicators {
    background: url(https://hristian86.github.io/WebTest/images/slider-background.jpg);
    background-size: cover;
}

.jumbo {
    height: 380px;
    background-color: rgba(32,32,32,0.8);
    border: 1px solid;
}

#pic {
    width: 150px;
    height: 220px
}

/*#body-customize {
    background: url(https://png.pngtree.com/png-clipart/20191122/original/pngtree-glasses-for-3d-movie-icon-cartoon-style-png-image_5168315.jpg)right;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 800px;
    background-position-y: 630px;
}*/



#navbar-image {
    background: url(https://hristian86.github.io/WebTest/images/navbar-image.jpg);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: -200px;
}

#desicion-page {
    background: url(https://hristian86.github.io/WebTest/images/Decision-page.jpg)center;
    height: 800px;
    background-repeat: no-repeat;
}

#header-content {
    margin-top: 60px;
    margin-right: 200px;
    /*background-color:skyblue;*/
}

/*landing page*/
/*products rating*/
.product-rate {
    background-color: rgba(32,32,32,0.8);
}

.title-header {
    height: 60px;
}

#button-landing-page {
    /*margin-top:10px;*/
}

#slider-first-page {
    width: 100%;
    height: 800px;
    background: url(https://hristian86.github.io/WebTest/images/front-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#front-header-landing-page {
    display: flex;
    justify-content: center;
    width: 100%;
    /*background-color:skyblue;*/
    height: 10%;
}

#user-product-title {
    /*background-color:rgb(40, 242, 242);*/
    text-align: start;
    height: 80px;
}








/* BASIC */



body {
    font-family: "Poppins", sans-serif;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}



/* STRUCTURE */

.wrappers {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /*background: #fff;*/
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    /*-ms-transition: all 0.3s ease-in-out;*/
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    /*-ms-transition: all 0.5s ease-in-out;*/
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }


input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    /*-ms-transition: all 0.5s ease-in-out;*/
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=password]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

/*input[type=text]:placeholder {
        color: #cccccc;
    }*/



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

    .underlineHover:hover:after {
        width: 100%;
    }


#back-button-a-link {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    /*-ms-transition: all 0.3s ease-in-out;*/
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: 0px;
    width: 300px;
    padding-left: 40px;
}

.coolbtn {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    /*-ms-transition: all 0.3s ease-in-out;*/
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .coolbtn:hover {
        background-color: #39ace7;
    }

#back-button-a-link:hover {
    background-color: #39ace7;
}

/* OTHERS */
*:focus {
    outline: none;
}

#icon {
    width: 60%;
}


#new-login-form {
    margin-top: 120px;
}
