
.dropdnText {
    text-align: center;
}

.ItemsPerPerson {
    /*margin-top:8px;*/
    padding-top:8px;
    margin-right: 10px;
    /*text-decoration:none;*/
}

#hovers:hover {
    color: skyblue !important;
}

.message-candidate {
    background: rgba(223, 229, 121, 0.9);
    padding: 40px;
    /*max-width: 600px;*/
    width: 85%;
    border-bottom: 4px solid;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px 50px 30px;
}

.message-hiring-manager {
    background: rgba(0, 167, 204, 0.9);
    padding: 40px;
    max-width: 600px;
    margin-bottom: 10px;
}

.messaging {
    max-width: 600px;
    margin-top: 20px;
}

.message-text {
    margin-top: 10px;
}

.message-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    display: inline-block;
}

.message-name {
    margin-left: 10px;
    display: inline-block;
}

#Output {
    overflow: auto;
    height: 650px;
    display: block;
    border: 2px;
    /*background-color:yellowgreen;*/
    background: url(https://previews.123rf.com/images/vska/vska1506/vska150600044/40865606-technology-abstract-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: inline-block;
    width: 100%;
    background-color: skyblue;
    height: 80px;
    text-align: center;
}

#input {
    margin-top: 15px;
    height: 50px;
    width: 800px;
}

#buttonPost {
    margin-bottom: 10px;
}

.con {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
}

#IdentityBtn {
    margin-left: 20px;
}


#moviePic {
    background-size: cover;
    background: center;
}

#rateStars {
    background-image: url(https://st.depositphotos.com/1216158/4699/v/950/depositphotos_46997111-stock-illustration-yellow-stars-vector-illustration-single.jpg);
    background-size: cover;
    height: 70px;
}



#logo-image {
    height:28px;

}

#cart {
    width: 80px;
    height: 38px;
    /*padding-left:8px;*/
}

#cart-icon {
    height:10px;
}
/*#drop-down-menu {
    width:180px;
}*/
.statusMessage {
    position: fixed;
    margin-top: 20px;
    width: 38%;
    text-align: center;
    /*display:none;*/
}


#hideMessage {
    display: flex;
    justify-content: flex-end;
}

/*corousal size window*/
#corousel-size {
    width: 1000px;
    height: 700px;
}

/*slider product pictures*/
#sliderPictures {
    width: 800px;
    height: 650px;
}

#carouselExampleIndicators {
    background: url(https://hristian86.github.io/WebTest/images/slider-background.jpg);
    background-size: cover;
}

.jumbo {
    height: 380px;
    background-color: rgba(32,32,32,0.8);
    border: 1px solid;
}

#pic {
    width: 150px;
    height: 220px
}

#body-customize {
    /*background: url(https://static3.bigstockphoto.com/3/1/3/large2/313205968.jpg);*/
    background-repeat: no-repeat;
}

#header-content {
    margin-top: 60px;
    margin-right: 200px;
    /*background-color:skyblue;*/
}

/*landing page*/
/*products rating*/
.product-rate {
    background-color: rgba(32,32,32,0.8);
}

.title-header {
    height: 60px;
}

#button-landing-page {
    /*margin-top:10px;*/
}

#slider-first-page {
    width: 100%;
    height: 800px;
    background: url(https://hristian86.github.io/WebTest/images/front-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#front-header-landing-page {
    display: flex;
    justify-content: center;
    width: 100%;
    /*background-color:skyblue;*/
    height: 10%;
}

#user-product-title {
    /*background-color:rgb(40, 242, 242);*/
    text-align:start;
    height:80px;
}


