@{
    ViewData["Title"] = "Home Page";
}

    <body style="background-color:black;">
        @*<form asp-controller="HoAreWheController" asp-action="Auth" method="post">
            <input type="text" />
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>*@
        <!--carousel-->
        <div class="main-container carousel-height">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active first-slider">
                        <div class="inside-container">
                            <div class="row">
                                <div class="col-lg-12  ">
                                    <div class="carousel-text">
                                        <h1>With in <span class="second">seconds</span> to ready your <span class="bs-card"> business cards</span></h1>
                                        <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. These <br>  days are all Happy and Free. These days are all share them with me oh baby. <br>Sometimes you knows your name.</p>
                                        <div class="butns">
                                            <button class="about-btn">about us </button>
                                            <button class="work-btn">our work</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item  first-slider-1">
                        <div class="inside-container">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="carousel-text">
                                        <span> asdasdasd With in <span class="second">seconds</span> to ready your <span class="bs-card"> business cards</span></span>
                                        <p>
                                            They call him Flipper Flipper faster than lightning. No one you see is smarter than he. These <br>  days are all Happy and Free. These days are all share them with me oh baby. <br>
                                            Sometimes you knows your name.
                                        </p>
                                        <div class="butns">
                                            <button class="about-btn">about us </button>
                                            <button class="work-btn">our work</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span><i class="fas fa-arrow-right  fa-rotate-180 arrow"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span><i class="fas fa-arrow-right arrow"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </body>