
@{
    ViewData["Title"] = "ContactInfo";
}

    <div class="container">

        <h2 class="text-center mt-2 mb-4"><a href="https://hristian86.github.io/WebTest/MyPortfolioInWebSite/index.html">External portfolio</a></h2>

        <iframe style="width:1140px;height:700px;" src="https://hristian86.github.io/WebTest/MyPortfolioInWebSite/index.html">
        </iframe>

        <div class="d-flex justify-content-between mt-5 mb-5">
            <h2><a href="https://softuni.bg/Certificates/Details/71391/922c02c0">C# BASICS</a></h2>
            <h2><a href="https://softuni.bg/Certificates/Details/80996/6df2170c">ASP.NET CORE</a></h2>
        </div>

        <div class="section-title text-center">
            <h2>Experience</h2>
        </div>
        <section class="text-center">
            <div class="experiences-info">
                <p>I've been working on self commerce in selling my services as pc software repeirar and bitcoin miner for couple of years between 2015-2018.</p>
                <p>Sometimes i've repaired and hardware problems depending on the problem and complexity of the pc state.</p>
                <p>I've been working privately trying different things out until some of my friends started to speak about programing and i got hook up.</p>
                <p>I've started to study C# language by recommendation and i really liked the IDE(Visual studio community 2019) and the actual coding</p>
                <p>After that i've tested different thing like html css and javascript,and i like them too so i decided to build a website.</p>
                <p>My exam for ASP.NET Core with EF Core + MS SQL has been very Educational and i gain alot of experience creating the project</p>
                <p>Link for my Certificate on C# Basics : <a style="text-decoration:none;" class="text-primary" href="https://softuni.bg/Certificates/Details/71391/922c02c0">C# Basics</a></p>
                <p>Link for my Certificate on ASP.NET Core : <a style="text-decoration:none;" class="text-primary" href="https://softuni.bg/Certificates/Details/80996/6df2170c">ASP.NET Core</a></p>
            </div>
        </section>


        <!-- Skils -->
        <section id="Skils" class="skils text-center">
            <div class="section-title text-center">
                <h2>Skils</h2>
            </div>
            <div id="skils-info" class="text-center">
                <p>Excellent english language skills (speaking, typing, understanding), medium knowledge of japanese language (understanding only).</p>
                <p>Knowledge of hardware and software in computer systems, i've been working with microsoft office, access, libreoffice.</p>
                <p>Main programing language is C# + experience of HTML, CSS, JavaScript, Bootstrap, Unity game engine, Microsoft SQL Server, GitHub, ASP.NET Core, MVC Pattern.</p>
                <p>Tools i've been working with: Visual Studio Community 2019, Entity Framework Core 3.1.1 and up, SQL server 2019, Dependancy injection in controllers and services.</p>
                <p>XUnit for unit testing, AutoMapper, mainly LINQ for DBO Querying, Async/await/Task, IdentityUser - IdentityRole, Area, Anotations, Filtering, sorting.</p>
                <p>Searching, middleware filtering, Authorize, autovalidateantiforgerytoken, routhing, Api controlers for (post,get,update,delete) operations.</p>
                <p>EF Core code first with fluent api and Migrations, separation of concerns - adding Libraries (.net core) to solution, Https, pagination, admin panel.</p>
                <p>EF Core Database-first with scafolding-database, Docker for linux, Azure resurce explored, website published on Azure with ms sql database, logs.</p>
                <p>Azure insights used in the project, Sublime text, VS code, Git for publishing solution to docker container, Atom.</p>
            </div>
        </section>

    </div>