
@{
    ViewData["Title"] = "Error404Page";
}


    <div style="        background: url(https://cdn.pixabay.com/photo/2015/03/25/13/04/page-not-found-688965__340.png)center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 730px;
" class="d-flex justify-content-center" ></div>
