@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



    <div class="wrappers fadeInDown" id="new-login-form">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@<h2>Log in</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Login Form -->
            <form id="account" method="post">
                @* user *@
                <input type="text" id="login" class="fadeIn second"  asp-for="Input.UserName" placeholder="User name">
                <span asp-validation-for="Input.UserName" class="text-danger"></span>

                @* password *@
                <input type="password" id="password" class="fadeIn third" asp-for="Input.Password"  placeholder="password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>


                <div class="checkbox fadeIn third mt-1">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>


                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a asp-page="./ForgotPassword" class="underlineHover">Forgot Password?</a>
                <br />
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </div>

        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
